# Compiler files
cache/
out/


x-ray/

# Ignores development broadcast logs
broadcast/
script/

# Dotenv file
.env

node_modules

lcov.info

# LCOV / genhtml coverage report output
coverage/
report/
*.gcov.html
*.func.html
*.func-c.html
index.html
index-sort-f.html
index-sort-l.html
gcov.css
amber.png
emerald.png
ruby.png
snow.png
glass.png
updown.png
cmd_line
